.loginContainer{
max-width: 400px;
margin: auto;

}


.formStyle {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    input{
        padding: 5px;
        margin-bottom: 10px;
        width: 100%;
        border: none;
        
    }
    
}


.buttonContainer{
    display: flex;
    flex-direction: row;
    width: 200px;
    gap: 20px;
    
    input{
        padding: 5px;
        width: 100%;
        background-color: red;
        color: white;
    }
}